.hlogIn {
    font-size: 40px;
    font-weight: 700;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 10px;
    cursor: pointer;
    transition: all 0.5s linear;
}

.hlogIn:hover {
    transform: translateY(-8px) !important;
    color: #7502D9;
}

.labalInput {
    font-size: 20px;
    font-weight: 700;
    color: #ff523b;
}

.form-control {
    border: 2px solid #ff523b;
    ;
}


/**/
