<h1 class="text-center p-5 mt-5">this is the passwords page</h1>

<!-- <nav class="d-flex fixed-top justify-content-between py-3">
  <h3 class="ms-4 logo py-4">
    <a routerLink="/">MOV<span class="IES">IES</span></a>
  </h3>
  <ul class="list-unstyled d-flex py-4">
    <li><a *ngIf="isLogin" routerLink="home">Home</a></li>
    <li><a *ngIf="isLogin" routerLink="about">About</a></li>
    <li><a *ngIf="isLogin" routerLink="gallary">Gallary</a></li>
    <li><a *ngIf="isLogin" routerLink="movie">Movies</a></li>
    <li><a *ngIf="isLogin" routerLink="tv">Tv</a></li>
    <li><a *ngIf="isLogin" routerLink="contacts">Contacts</a></li>
  </ul>
  <div class="d-flex">
    <div class="socialMedia me-5 py-4">
      <a> <i class="fab mx-2 fa-facebook"></i></a>
      <a> <i class="fab mx-2 fa-instagram"></i></a>
      <a> <i class="fab mx-2 fa-telegram"></i></a>
      <a> <i class="fab mx-2 fa-youtube"></i></a>
      <a> <i class="fab mx-2 fa-github"></i></a>
      <a> <i class="fab mx-2 fa-spotify"></i></a>
      <a> <i class="fab mx-2 fa-xbox"></i></a>
    </div>
    <li class="nav-item dropdown ">
      <a
        class="nav-link dropdown-toggle text-white p-0 "
        routerLink="/settings"
        id="navbarDropdown"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        settings
      </a>
      <ul class="dropdown-menu  bg-dark " aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" routerLink="settings/password">password</a></li>
        <li><a class="dropdown-item" routerLink="settings/log">log</a></li>
      </ul>
    </li>
    <div>
      <ul class="list-unstyled d-flex py-4 me-4">
        <li><a *ngIf="!isLogin" routerLink="login">Login</a></li>
        <li><a *ngIf="!isLogin" routerLink="register">Register</a></li>
        <li>
          <a (click)="collLogOut()" *ngIf="isLogin" routerLink="logout"
            >Logout</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav> -->
