<div class="container">
    <div class="row py-5 my-5">
        <h4 class="h2 text-center hPersons py-4">Tranding Movies</h4>
        <div *ngFor="let displayMov of displayMovieComponent" class="col-md-4">
            <a [routerLink]="['/movieDetails' ,displayMov.id]">
                <img class="w-100 imgPersone" [src]="imgPrefex + displayMov.poster_path" />
                <h3 class="h5 py-md-3 text-center">{{ displayMov.title }}</h3>
                <div class="rating text-center">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
            </a>
        </div>
    </div>
</div>
